       header a.linkedin,a.github,a.instagram,a.facebook{
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: 0.5s ease-in-out;
        padding: 3px;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        font-size: 1.5em;
        margin-right: 1.3em;
        cursor: pointer;
    }
    header a.linkedin:hover{
        color:dodgerblue;
        transition: 1s ease-in-out;
        }
    header a.github:hover{
        filter: invert(35%);
        transition: 1s ease-in-out;
    }
    header a.instagram:hover{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
    header a.facabook:hover{
        color:blue;
        transition: 1s ease-in-out;
    }
    #background-video {
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -1;
        background-size: cover; 
        opacity: 30%;
    }

header {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 0px 0px 20px 20px;
}
header:hover {
    box-shadow: 0px 0px 25px cyan;
    transition: 1s ease-in-out;
}
footer {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 20px 20px 0px 0px;
}
footer:hover {
    box-shadow: 0px 0px 25px cyan;
    transition: 1s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
main{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}
figure{
    flex-direction: column;
    display: flex;
    justify-content:end;
}
/* MAIN CONTENT ==================*/
main .main-content{
    display: flex;
    flex-direction: column;
}
main .main-content h3{
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-weight: 2500;
    font-weight: bolder;
}

main .main-content .text p {
text-indent: 50px;
width: 75%;  
font-size: 1.2em;  
font-weight: 2000;
text-align: justify;

}
 /*____________CARDS_________ */
 main .techs .cards-container {
    display: flex;
    align-items: center;
    margin-left: 2%;
 }
 main .techs .cards-container .card{
    margin-top: 1%;
    width: 95px;
    height: 95px;
    padding: 12px;
    border-radius: 20px;
    margin-right: 2em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.437);
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: box-shadow 1s ease-in-out;
    border: 1px cyan solid;
 }
 main .techs .cards-container .card img{
    width: 85%;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
 }
 main .techs .cards-container .card:hover{
    box-shadow: 0px 0px 25px cyan;
}
/****************CARD CSS****************************/
 main .techs .cards-container .card2{
    margin-top: 1%;
    width: 95px;
    height: 95px;
    padding: 12px;
    border-radius: 20px;
    margin-right: 2em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.437);
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: box-shadow 1s ease-in-out;
    border: 1px cyan solid;
 }
 main .techs .cards-container .card2 img{
    width: 65%;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
 }
 main .techs .cards-container .card2:hover{
    box-shadow: 0px 0px 25px cyan;
}
/******************CARD JS**********************/
main .techs .cards-container .card3{
    margin-top: 1%;
    width: 95px;
    height: 95px;
    padding: 12px;
    border-radius: 20px;
    margin-right: 2em;
    cursor: pointer;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: box-shadow 1s ease-in-out;
    border: 1px cyan solid;
 }
 main .techs .cards-container .card3 img{
    width: 70%;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
 }
 main .techs .cards-container .card3:hover{
    box-shadow: 0px 0px 25px cyan;
}

/*______________FIGURE____________*/
body figure img{
    width: 240px;
    height: 290px;
    border-radius: 40px;
    border: 1px cyan solid;
    display: block;
    position: absolute;
    bottom: 36%;
    right: 5%;
    transition: 1s ease-in-out;
    cursor: pointer;
}
body figure img:hover {
    box-shadow: 0px 0px 25px cyan;
}

main .main-content .article .contact ,a.linkedin2,a.github2,a.instagram2,a.facebook2{
    text-decoration: none;
    margin-top: 1%;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
    font-size: 2em;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    justify-content: center;
    object-position: center;
    align-content: center;
  
}

body a.linkedin2:hover{
    color:dodgerblue;
    transition: 1s ease-in-out;
    }
body a.github2:hover{
    filter: invert(35%);
    transition: 1s ease-in-out;
}
body a.instagram2:hover{
    color: #d6249f ;
    transition: 1s ease-in-out;
}
body a.facabook2:hover{
    color:blue;
    transition: 1s ease-in-out;
}
h3{
    font-size: 1.4em;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}
    p{
        color: rgb(255, 255, 255);
        font-weight: bolder;
        font-weight: bold;

    }
    body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(1, 0, 14, 0.945);
    }
    
    